table {
  border-collapse: collapse;
  width: 100%;
  th,
  td {
    text-align: center;
    border: 1px solid #ddd;
  }
  th {
    height: 50px;
    cursor: pointer;
    &:hover {
      background-color: rgb(240, 240, 240);
    }
    &:active {
      background-color: rgb(241, 215, 215);
    }
  }
}
